table {
	width: 100%;
}

table td {
	padding: 10px;
	font-family: Courier New;
	font-weight: bolder;
	font-size: 20px;
	text-align: center;
	border: 1px solid black;
}

td{
	background-color: #ffe600;
}

.parentElemOne {
	margin-top: 2%;
	width: 30%;
	background-color: #00ffff;
	position: absolute;
}
